body, html 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas 
{
    background: black;
}

.modal-body h3 {
  font-family: Monaco, monospace;
}

#starfield {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}