
body {
	background-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

img {
	border: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#contentwrapper {
    margin-left: auto;
    margin-right: auto;
	width:775px;
	background-color: #000000;
	border:1px solid #F1EFE2;
}

/* DEFINE BANNER STYLE*/
#banner {
	margin-top: 10px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* DEFINE MENU STYLES */
#menu {
	float:left; 
	width:150px;
	margin-left: 0px;
	padding-left: 0px;
	text-align: left; 
	font-weight: bold; 
	font-size: 12px;
	color: #EDEDED;
}

#menu ul { 
	width:140px;
	margin-top: 40px;
	margin-left: 10px;
	padding-left: 0px;
	list-style:none; 
}

#menu ul li {
	display:block;
	margin-left: 0px;
	padding-left: 0px;
}
	
#menu ul li a {
	float:left;
	width:140px;
	background-color:#000000; 
	border:1px solid #F1EFE2;
	margin:0px 0px 5px 0px; 
	padding:10px 1px 10px 5px; 
	text-decoration:none; 
	color:#909090;
}

#menu ul li a:hover {
	background-color:#252525; 
	color:#FFFFFF;
}


/* DEFINE MAIN CONTENT STYLES */
#maincontent {
	float:right;
	width: 565px;
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 0px;
	padding-bottom: 25px;
}

#maincontent h1 {
	text-align: center; 
	font-weight: bold; 
	font-size: 16px;
	color: #909090;
}

#maincontent table {
	width: 540px;
	margin: 5px 0 20px 25px;
	text-align: left; 
	font-size: 11px;
	color: #909090;
}

#maincontent p {
	text-align: left; 
	font-size: 11px;
	color: #909090;
}

#maincontent form input, #maincontent form select{
	margin:0 0 10px 10px;
	background: #252525;
	border:1px solid #FFFFFF; 
	font-size: 11px;
	color: #FFFFFF;
}

.textinput {
	width: 350px;
	text-align: left; 
}

.submitbutton {
	width: 100px;
	text-align: center; 
}

.releasedate {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

/* DEFINE FOOTER STYLES */
#footer {
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}

#footer p {
	margin: 0px;
	text-align:center;
	font-size: 10px;
	color: #909090;
}

/* CENTERING BUTTON AND HIDDEN */
#toggleButton {
    display: block;
    margin: 0 auto;
}

.releasedate, #maincontent table {
    display: none;
}

/* IMAGE FADE */
#img1 {
  position: absolute;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  overflow: hidden;
}
#img2 {
  position: absolute;
  top: 0px; right: -5px; bottom: 0px; left: 0px;
  overflow: hidden;
}

/* SCROLLING */
.marqueecontainer {
  display: flex;
  position: absolute;
  width: 460px;
  left: 57%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  color: white !important;
}

.marquee {
  width: 420px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -4.5px;
  font-size: 15px;
  float: none;
  text-align: center;
  white-space: nowrap;
  position: relative;
  font-family: 'Monaco';
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

pre{
  font-size: 18px;
  color: white;
}
